# This file is an example of .env file with default values and can be used as is
# Default values are compatible with symfony dev .env values
# Copy this file to .env and edit values if needed
COMPOSE_PROJECT_NAME=nick-me
APP_NAME=nick-me
POSTGRES_PASSWORD=!ChangeThisAwesomeSecret!
AMPQ_PASSWORD=!ChangeThisAwesomeSecret!