.main {
    transition: background-color 0.5s ease-in-out;
    background-image: linear-gradient(135deg, rgba(255,255,255,0), rgba(0,0,0,0.5));
}
.main-0 { background-color:  rgb(41, 26, 87);}
.main-1 { background-color:  rgb(78, 15, 37);}
.main-2 { background-color: rgb(5, 53, 61);}