# This file may be used to "docker compose up" a prod build locally
# Build testing should only be done locally, on a dev machine
# It relies on the dev local environment that must be setup beforehand
# It only mimics the one in prod environment
# It does not provide dependencies such as redis, rabbitmq, postgres or mailer : it is design to use local dev containers
# that should exist within your dev environment (see /docker/dev/docker-compose.yml)
# The .env file is provided with some default config very similar to the dev environment
# In case a prod build must be done locally as a last resort, then you should use docker build/push anyway, not docker compose
# and in any case the containers env vars should be set in the prod environment/server, not locally on build

# ================================
# ANCHORS
# ================================
x-worker-base: &worker-base
  build:
    context: ../../
    dockerfile: docker/prod/worker/Dockerfile
    args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        APP_USER: ${APP_USER:-symfony}
  env_file:
    - .env
  environment:
    APP_ENV: consumer
  restart: unless-stopped
  networks:
    - app
    - nick-me_db
  healthcheck:
    test: ''
    disable: true

# See .env to set useful environment vars
services:
  app-prod:
    env_file:
      - .env
    build:
      context: ../../
      dockerfile: docker/prod/frankenphp/Dockerfile
      target: frankenphp_prod
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        APP_USER: ${APP_USER:-symfony}
    environment:
      - "SERVER_NAME=:80"
    container_name: "${APP_NAME}-web-prod"
    restart: unless-stopped
    user: ${APP_USER:-symfony}
    ports:
      - "8082:80"   # FrankenPHP
    networks:
      - app
  consumer-async:
    container_name: "${APP_NAME}-prod-consumer-async"
    <<: *worker-base
    command: [ 'php', 'bin/console', 'messenger:consume', 'async', '-vv', '--memory-limit=128M', '--time-limit=3600', '--limit=1000' ]

  consumer-failed:
    container_name: "${APP_NAME}-prod-consumer-failed"
    <<: *worker-base
    command: [ 'php', 'bin/console', 'messenger:consume', 'failed', '-vv', '--memory-limit=128M', '--time-limit=3600', '--limit=1000' ]

networks:
  db:
    driver: bridge
    external: true
  app:
    driver: bridge
    external: true
  messenger:
    driver: bridge
    external: true
  mail:
    driver: bridge
    external: true
  cache:
    driver: bridge
    external: true