html,
body,
#root {
  height: 100%;
}

:root {
  --track-bg: linear-gradient(to right, blue, red) !important;
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-gray-1) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #282827 !important;
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}