<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggestion</title>
</head>
<body>
Suggestion from the website ({{ date|date }}) :
<div>
    {{ content|nl2br }}
</div>
</body>
</html>
